<nav class="navbar navbar-light navbar-expand-sm navbar-lewagon-pages">
  <div class="container-fluid">
  <% if user_signed_in? %>
    <%= link_to "Home", root_path%>
    <div class="d-flex">
      <%= link_to "Bookings", bookings_path, class: "nav-link me-2" %>
      <div class="nav-item dropdown">
        <%= image_tag "https://mystickermania.com/cdn/stickers/cartoons/sticker_5031-512x512.png?t=09102020", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "My bikes", owner_bikes_path, class: "dropdown-item" %>
          <%= link_to "My bookings", owner_bookings_path, class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </div>
    </div>
    <% else %>
      <%= link_to "Home", root_path%>
      <%= link_to "Login", new_user_session_path, class: "nav-link me-2" %>
    <% end %>
  </div>
</nav>
<img src="" alt="">
