<nav class="navbar navbar-light navbar-expand-sm navbar-lewagon_pages">
  <div class="container-fluid">
  <% if user_signed_in? %>
    <%= link_to "The good bike", root_path, {style:"color:rgb(161, 193, 125); font-size:28px; font-family: 'Comfortaa', cursive;"} %>
    <%# <div class="d-flex"> %>
      <%# <%= link_to "Bookings", bookings_path, class: "nav-link me-2 text-secondary"%>
      <%# <div class="nav-item dropdown"> %>
        <%# <%= image_tag "https://mystickermania.com/cdn/stickers/cartoons/sticker_5031-512x512.png?t=09102020", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <%# <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown"> %>
          <%# <%= link_to "My profile", profile_owner_bike_path(current_user), class: "dropdown-item" %>
          <%# <%= link_to "My bikes", owner_bikes_path, class: "dropdown-item" %>
          <%# <%= link_to "My bookings", owner_bookings_path, class: "dropdown-item" %>
          <%# <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        <%# </div> %>
      <%# </div> %>
    <%# </div> %>
      <%= link_to profile_owner_bike_path(current_user) do %>
        <%= image_tag "https://mystickermania.com/cdn/stickers/cartoons/sticker_5031-512x512.png?t=09102020", class: "avatar" %>
      <% end %>
    <% else %>
      <%= link_to "The good bike", root_path, {style:"color:rgb(161, 193, 125); font-size:28px; font-family: 'Comfortaa', cursive;"}%>
      <%= link_to "Login", new_user_session_path, class: "nav-link me-2 text-secondary" %>
    <% end %>
  </div>
</nav>
