<div class="container col-7 mt-2">


  <div>
      <% @owner_bikes.each.reverse_each do |owner_bike| %>
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
            <%if owner_bike.photos.present?%>
              <%= cl_image_tag owner_bike.photos[0].key, height: 300, width: 400, crop: :fill, class: "img-fluid rounded-start" %>
            <% else %>
              <%= image_tag 'no-image-available.png', height: 300, width: 400, crop: :fill, class: "img-fluid rounded-start" %>
            <% end %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <div class="d-flex p-1 justify-content-between">
                  <h5 class="card-title"><%= owner_bike.name %></h5>
                  <p class="user-name card-text"><small class="text-muted"><%= owner_bike.kind %></small></p>
                </div>
                <p class="card-text bike-description"><%= owner_bike.description %></p>
                <div class="price-card d-flex flex-row-reverse">
                  <p class="m-0 pr-3"><%= owner_bike.price_per_day %>€/Day</p>
                </div>
                <div class="text-decoration-none">
                  <%= link_to '<i class="edit-icon far fa-edit mr-3"></i>'.html_safe, edit_bike_path(owner_bike) %>
                  <%= link_to bike_path(owner_bike),  method: :delete, data: { confirm: "Are you sure?" } do %>
                    <i class="delete-icon fas fa-trash-alt"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="form-bike">
    <%= simple_form_for(@owner_bike) do |f| %>
      <div class="form-group bg-light pt-2 pl-4 pr-4">
        <h1 class="text-center"><%= "Add a bike" %></h1>
        <div class="d-flex justify-content-between">
          <%= f.input :name, class:"form-control" %>
          <%= f.input :size, class:"form-control" %>
          <%= f.input :kind, collection: Bike::KIND, class:"form-control" %>
        </div>
        <%= f.input :address, class:"form-control" %>
        <%= f.input :description, class:"form-control" %>
        <%= f.input :price_per_day, class:"form-control" %>
        <div class="d-flex justify-content-between align-items-center">
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <%= f.submit "Add my bike !", class: "btn btn-info"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
