<%# Div en tant que background %>
<div class="geo-form"></div>

<div class="container py-4">
  <%= link_to root_path, class: "navbar-brand" do %>
    <h1  class="d-flex align-items-center">THE &nbsp; G<lottie-player class="my-lottie-logo" src="https://assets7.lottiefiles.com/packages/lf20_uvovx5gl.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>D &nbsp; BIKE</h1>
  <% end %>
  <div class="searching-form d-flex justify-content-around">
    <%= simple_form_for :search, url: root_path, method: "GET", html: {class:"p-4 form-inline"} do |f| %>
      <div>
        <%= f.input :kind, placeholder: 'Whick bike you looking for?', label: false %>
      </div>
      <div class="mx-2">
        <%= f.input :address, placeholder: 'Where do you go ?', label: false%>
      </div>
      <%= link_to 'Search', bikes_path, class:"btn btn-info"%>
    <% end %>
  </div>

  <br>
  <br>
  <br>



  <div class="tuto text-center col-12 position-relative">
    <h2>How it works</h2>
    <h6><strong>The good bike helps people to rent bike all over the world</strong></h6>
    <p class="col-12 col-lg-7 mx-auto">The good bike bike rental and sharing service that provides a platform to connect bike owners with people looking to rent bike around the world. Through our service, owners list their bikes, renters search for a bike in whatever area they want, and complete the rental process easily through our web application</p>
    <div class="card-container">
      <div class="row">
        <div class="card-category col-lg-4 col-12">
          <%= link_to 'Find your bike', bikes_path %>
        </div>
        <div class="card-category col-lg-4 col-12">
          <%= link_to 'Book it', '#' %>
        </div>
        <div class="card-category col-lg-4 col-12">
          <%= link_to 'Ride it', '#' %>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>

  <%# Put a map with all offers in france(exemple) without filter kind %>
  <div class="container">
    <div id="map"
      style="width: 100%; height: 400px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <hr>

  <div class="info d-flex justify-content-around">
    <div class="rewards">
      <h3>Our service is multi rewarded</h3>
      <div class="badges">
        <p>First place, new commer award</p>
        <p>Most rised start up France</p>
        <p>Favorite european application</p>
      </div>
    </div>
    <div class="comments">
      <p><strong>Community comments</strong></p>
      <span class="badge badge-pill badge-primary">Very usefull service</span>
      <span class="badge badge-pill badge-primary">It saved my vacation</span>
      <span class="badge badge-pill badge-primary">Amazing!</span>
    </div>
  </div>
</div>
