<%# Div en tant que background %>
<div class="geo-form"></div>

<div class="container py-3">

  <%= link_to root_path, class:"navbar-brand w-100" do %>
    <h1  class="d-flex align-items-end", style="cursor: default">THE G<lottie-player class="my-lottie-logo" src="https://assets7.lottiefiles.com/packages/lf20_uvovx5gl.json"  background="transparent"  speed="1"  style="width: 320px; height: 320px;" loop autoplay ></lottie-player>D BIKE</h1>
  <% end %>

  <div class="w-100 align-items-center mx-auto sticky">
    <div class="searching-form d-flex w-100 justify-content-center">
      <%= form_tag bikes_path, method: "GET", class:"p-3 form-inline" do %>
        <div>
          <%= text_field_tag :query,
          params[:query],
          required: false,
          class: "my-form-input-kind form-control",
          placeholder: "Find your bike" %>
        </div>
        <div>
          <%= text_field_tag :query,
          params[:query],
          required: true,
          class: "my-form-input-address form-control",
          placeholder: "Where do you go ?" %>
        </div>
        <%=  submit_tag "Search", class:"btn btn-info"%>
      <% end %>
    </div>
  </div>

  <div class="arrow-down bounce d-flex justify-content-center align-items-center"><i class="fas fa-caret-down"></i></div>




  <div class="tuto text-center col-12 mt-4">
  <div class="mt-5 mb-5">
    <h2>How it works</h2>
      <h6><strong>The good bike helps people to rent bikes all over the world</strong></h6>
      <p class="col-12 col-lg-7 mx-auto">The good bike is a bike rental and sharing service that provides a platform to connect bike owners with people looking to rent bike around the world.</p>
    </div>
    <div class="container">
      <div class="row d-flex justify-content-around">
        <div class="card-category overflow-hidden text-center col-lg-3 col-12 ">
          <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_ko53b4tp.json"  background="transparent"  speed="1"  style="height: 200px;"  loop  autoplay></lottie-player>
          <hr>
          <p>Find your ideal bike for your needs, any type, anywhere near you.</p>
        </div>
        <div class="card-category overflow-hidden col-lg-3 col-12">
          <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_ytg7s6tx.json"  background="transparent"  speed="1"  style="height: 200px;"  loop  autoplay></lottie-player>
          <hr>
          <p>Choose your dates of use and book it in a few clicks.</p>
        </div>
        <div class="card-category overflow-hidden col-lg-3 col-12">
          <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_lnji2epm.json"  background="transparent"  speed="1"  style="height: 200px;"  loop  autoplay></lottie-player>
          <hr>
          <p>Pick up the bike, enjoy it and pay for the service after use.</p>
        </div>
        <div class="card-category overflow-hidden col-lg-3 col-12">
          <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_1H7IW0.json"  background="transparent"  speed="1"  style="height: 200px;"  loop  autoplay></lottie-player>
          <hr>
          <p>Put your bike online, and rent it at the price you want.</p>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>

  <%# Put a map with all offers in france(exemple) without filter kind %>
  <div class="container">
    <div id="map"
      style="width: 100%; height: 400px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
<br>
<br>
<br>
