<div class="row g-0">
  <div class="container col-6">
    <div>

      <div class="my-form col-md-12">
        <%= form_tag bikes_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          required: true,
          class: "my-form-input form-control col-md-10 col-sm-9",
          placeholder: "Find your bike" %>
        <%= submit_tag "Search", class: "my-form-button btn btn-info col-md-2 col-sm-3" %>
        <% end %>

    </div>
      <% @bikes.each do |bike| %>
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <%= cl_image_tag bike.photos[0].key, height: 300, width: 400, crop: :fill, class: "img-fluid rounded-start" %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <div class="d-flex p-1 justify-content-between">
                  <div class="title-and-kind flex-right">
                    <h5 class="card-title m-0 font-weight-bold"><%= bike.name %></h5>
                    <p class="card-title"><small><%= bike.kind %></small></p>
                  </div>
                  <p class="user-name card-text"><small class="text-muted"><%= bike.user.first_name %> <%= bike.user.last_name.upcase %>&nbsp;&nbsp;<i class="fas fa-user-alt"></i></small></p>
                </div>
                <p class="card-text bike-description"><%= bike.description %></p>
                <div class="price-card d-flex flex-row-reverse">
                  <%= link_to "view more", bike_path(bike), class: "btn btn-sm btn-info" %>
                  <p class="m-0 pr-3"><%= bike.price_per_day %>€/Day</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
    <div class="col-5 content-right">
        <div id="map"
          style="width: 100%; height: 100vh;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
    </div>
  </div>
</div>
