
<div class="row justify-content-md-center mt-5">
  <div class="col-md-7 p-0 d-flex border">
    <div class="content-img col-md-6">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<div class="w-100 content d-flex">
  <div class="col-md-7 content-left d-flex justify-content-center">
    <div class="bike_card shadow">
      <div class="thumbnail_bike">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= cl_image_tag @bike.photos[0].key, crop: :fill %>
            </div>
            <% unless @bike.photos[1].nil? %>
              <div class="carousel-item">
                <%= cl_image_tag @bike.photos[1].key, crop: :fill %>
              </div>
              <div class="carousel-item">
                <%= cl_image_tag @bike.photos[2].key, crop: :fill %>
              </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </button>
        </div>
    </div>
    <div class="content-right col-md-6 p-3">
      <div class="content-name-price d-flex justify-content-between border-bottom">
        <h2><strong><%= @bike.name %></strong></h2>
        <span class="d-flex align-items-end text-info"><h2><strong><%= @bike.price_per_day %>€</strong></h2>&nbsp;<h4>/day</h4></span>
      </div>
      <div class="content-description">
        <div class="bike-rating d-flex w-100 pt-3">
          <i class="fas fa-star text-info "></i>
          <i class="fas fa-star text-info "></i>
          <i class="fas fa-star text-info "></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <p class="m-0"><!--Here Rating-->3.9/5</p><%= link_to 'See all reviews' , bikes_path , class: "ml-3"%>
        </div>
        <div class="bike-description pt-3">
          <p><%= @bike.description %></p>
        </div>
        <div class="bike-kind">
          <span class="d-flex"><%= image_tag ("bike_show/biking-solid.svg"), height: "20px" %> <p class="ml-3"><%= @bike.kind %></p></span>
        </div>
        <div class="bike-size">
          <span class="d-flex"><%= image_tag ("bike_show/arrows-alt-v-solid.svg"), height: "20px" %> <p class="ml-3"><%= @bike.size %>ch</p></span>
        </div>
        <div class="bike-address">
          <span class="d-flex"><%= image_tag ("bike_show/map-marker-alt-solid.svg"), height: "20px" %> <p class="ml-3"><%= @bike.address %></p></span>
        </div>
        <div class="bike-options">
          <span class="d-flex"><strong><p>Options : </p></strong>
            <%= image_tag ("bike_show/protective.png"), height: "25px", class: "ml-3" %>
            <%= image_tag ("bike_show/pump.png"), height: "25px", class: "ml-3" %>
            <%= image_tag ("bike_show/child.png"), height: "25px", class: "ml-3" %>
          </span>
        </div>

      </div>

      <div class="content-booking border">
      <div class="bookings_bike border-top p-3 align-items-start justify-content-start d-flex flex-column">
        <h4>Booking this bike</h4>

        <%= simple_form_for [@bike, @bike.bookings.new] do |f| %>
          <div class="form-group">
            <%= f.input :start_at, class:"form-control", name: "dates" %>
            <%= f.input :end_at, class:"form-control" %>
            <%= link_to "Back to Home", bikes_path, class:"btn btn-info btn-sm mt-4"%>
            <%= f.submit "Booking this bike !", class: "btn btn-info btn-sm mt-4"%>
          </div>
        <% end %>

      </div>

    </div>
  </div>
</div>
