<!DOCTYPE html>
<html>
  <head>
    <title>TheGoodBike</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="icon" type="image/png"
    href="https://res.cloudinary.com/terence/image/upload/v1637852829/The%20Good%20Bike/favicon_jkdmtf.png" />
    <%= stylesheet_pack_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% if current_page?(root_path) %>
      <%= render 'shared/navbar' %>
      <% elsif user_signed_in? && current_page?(profile_owner_bike_path(current_user)) %>
      <%= render 'shared/navbar_dashboard' %>
    <% else %>
      <%= render 'shared/navbar_pages' %>
    <% end %>
    <%= render 'shared/flashes' %>
    <%# <p class="notice"><%= notice %>
    <%# <p class="alert"><%= alert %>
    <%= yield %>
  <footer>
    <%= render 'shared/footer' %>
  </footer>
  </body>
</html>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
